*{
    box-sizing: border-box;

}

body{

    margin: 0;
}

.parent{
   

}


.container{
  background-image: url(./eb77a136-5ca9-4231-994d-8d5dc96b0ccb.jpg) ;

}

.hero{
    width: 100%;

    margin: 0 auto;

}

.contain{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgba(0, 0, 0,0.7);
    

}

button{
    font-size: 14px;
    padding: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
button:hover{
    background-color: grey;
}




.blur{
    background-color: dimgrey;
    /* padding: 10px; */


}
.blur_new{
    text-align: center;
padding: 10px;
    line-height: 32px;
    color: cornsilk;

}



/* .head{
    text-align: center;
    color: blanchedalmond;

} */

.main{
    display: flex;
    flex-direction: column;

}

section{
    width: 100%;
    
}



.new{
    background-color: gold;
    
  
    
}

img{
    width: 100%;

}


.problem{
    padding: 10px;
    
}

.mini{
   
    
}


.row{
    display: flex;
     flex-direction: column; 
     line-height: 32px;
     padding-bottom: 20px;

}

.col{
    width: 90%;
    margin: 0 auto;
   margin-top: 20px;
    background-color: white;
}







.last{
    text-align: center;
    padding: 55px;
    font-size: 20px;


}

.column{
    display: flex;
    flex-direction: column;
    line-height: 32px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.colun{
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}





.colum{
    background-color: greenyellow;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.page{
    display: flex;

    
}

.age{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 11px;
}



@media screen and (min-width:600px){

    .contain{
        text-align: center;
        padding: 100px;
        color: white;
        font-size: 20px;
    
    }
    button{
        font-size: 18px;
        padding: 20px;
        background-color: black;
        color: white;
        text-transform: uppercase;
    }
    button:hover{
        background-color: grey;
    }
    .blur_new{
        text-align: center;
        padding: 40px;
        line-height: 32px;
    
    }
    
.main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 15px;
   
    

}
    

.row{
    width: 70%;
     flex-direction: row; 
    margin: 0 auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
     padding: 30px;
   
}

.col{
    
   margin-top: 0;
    
}
.problem{
    padding: 20px;
    
}




.col + .col{
    margin-left: 20px;

}

.column{
    
    flex-direction: row;
    
}
.colun{
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 17px;
}

.colum{
    background-color: greenyellow;
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 17px;
}

}
